@font-face {
  font-family: 'SourceSansPro Semibold';
  src: url('SourceSansPro-Semibold.otf') format('opentype');
}

.skin-blue .main-header .navbar {
  background-color: #184d6b; /* Cambia esto al color que desees */
  text-align: left;

}

.skin-blue .main-header .logo {
  background-color: #184d6b; /* Cambia esto al color que desees */
  color: white; /* Color del texto del logo */
  text-align: left;
}

.skin-blue .main-header .logo:hover {
  background-color: #184d6b; /* Color del logo cuando se pasa el cursor por encima */
  text-align: left;
}

/* Cambiar el color de fondo de la caja */
.box {
  background-color: #f0f0f0;
  text-align: center;
}

/* Cambiar el color de fondo del encabezado de la caja */
.box-header {
  background-color: #cccccc;
}

/* Cambiar el tamaño de fuente del título de la caja */
.box-title {
  font-size: 18px;
}

/* Cambiar el margen interior del cuerpo de la caja */
.box-body {
  padding: 10px;
  font-size: 20px
}


